<div class="containter">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add Button</li>
        <li>Add para</li>
        <li>Toggle display of para</li>
        <li>log all button click</li>
      </ol>
      <hr />
      <!--<button class="btn btn-primary" (click)="showSecret =!showSecret">Display Details</button>-->
      <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
      <p *ngIf="showSecret">Secret Password = tuna</p>
      <div *ngFor="let logItem of log; let i = index"
           [ngStyle]="{ backgroundColor : i >= 4 ? 'blue' : 'transparent'}"
           [ngClass]="{ 'white-text' : i >= 4}">
        {{logItem}}
      </div>
    </div>
  </div>
</div>
